{% extends "movies/base.html" %}
{% block title %}Login | MovieSite{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <h3 class="mb-3">Σύνδεση</h3>

    {% if form.errors %}
      <div class="alert alert-danger">Λάθος username ή password.</div>
    {% endif %}

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label">Username</label>
        {{ form.username }}
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        {{ form.password }}
      </div>

      <button class="btn btn-dark w-100" type="submit">Login</button>
    </form>

    <div class="mt-3 text-center">
      <a href="{% url 'accounts:register' %}">Δεν έχεις λογαριασμό; Register</a>
    </div>
  </div>
</div>
{% endblock %}
